@font-face {
    font-family: Outfit;
    src: url(../../fonts/outfit.ttf);
}

.button {
    font-family: Outfit;
    color: rgb(31, 31, 31);
    font-size: 21px;
}

.error {
    font-family: Outfit;
    color: rgb(160, 0, 0);
    font-size: 18px;
}


.normal {
    font-family: Outfit;
    color: rgb(63, 63, 63);
    font-size: 18px;
    margin: 8px;
}

.table {
    font-family: Outfit;
    color: rgb(31, 31, 31);
    font-size: 16px;
}

.title {
    font-family: Outfit;
    color: rgb(31, 31, 31);
    font-size: 24px;
    margin: 16px;
}