@font-face {
    font-family: Outfit;
    src: url(../../fonts/outfit.ttf);
}

.error {
    color: rgb(150, 0, 0);
    font-family: Outfit;
    font-size: 18px;
}

.footer {
    bottom: 0;
    font-family: Outfit;
    font-size: 24px;
    padding: 32px;
    position: fixed;
    right: 0;
}

.footer.base {
    color: rgb(95, 95, 95);
    transition: ease 0.5s;
}

.footer.dark {
    color: rgb(156, 156, 156);
    transition: ease 0.5s;
}

.footer.lava {
    color: rgb(223, 68, 0);
    transition: ease 0.5s;
}    

.footer.blue {
    color: rgb(31, 95, 223);
    transition: ease 0.5s;
}    

.footer.pink {
    color: rgb(223, 95, 183);
    transition: ease 0.5s;
}

.footer.xtra {
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}

.menu {
    font-family: Outfit;
    font-size: 16px;
}

.menu.base {
    color: rgb(95, 95, 95);
    transition: ease 0.5s;
}

.menu.dark {
    color: rgb(156, 156, 156);
    transition: ease 0.5s;
}   

.menu.lava {
    color: rgb(223, 68, 0);
    transition: ease 0.5s;
}

.menu.blue {
    color: rgb(31, 95, 223);
    transition: ease 0.5s;
} 

.menu.pink {
    color: rgb(223, 95, 183);
    transition: ease 0.5s;
} 

.menu.xtra {
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}

.normal {
    font-family: Outfit;
    font-size: 18px;
    margin: 8px;
}

.normal.base {
    color: rgb(63, 63, 63);
    transition: ease 0.5s;
}

.normal.dark {
    color: rgb(191, 191, 191);
    transition: ease 0.5s;
}

.normal.lava {
    color: rgb(223, 68, 0);
    transition: ease 0.5s;
}

.normal.blue {
    color: rgb(31, 95, 223);
    transition: ease 0.5s;
} 

.normal.pink {
    color: rgb(223, 95, 183);
    transition: ease 0.5s;
}

.normal.xtra {
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}

.table {
    font-family: Outfit;
    font-size: 16px;
}

.table.base {
    color: rgb(31, 31, 31);
    transition: ease 0.5s;
}

.table.dark {
    color: rgb(223, 223, 223);
    transition: ease 0.5s;
}

.table.lava {
    color: rgb(223, 68, 0);
    transition: ease 0.5s;
}

.table.blue {
    color: rgb(31, 95, 223);
    transition: ease 0.5s;
}

.table.pink {
    color: rgb(223, 95, 183);
    transition: ease 0.5s;
}

.table.xtra {
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}

.title {
    font-family: Outfit;
    font-size: 24px;
    margin: 16px;
}

.title.base {
    color: rgb(31, 31, 31);
    transition: ease 0.5s;
}

.title.dark {
    color: rgb(223, 223, 223);
    transition: ease 0.5s;
}

.title.lava {
    color: rgb(223, 68, 0);
    transition: ease 0.5s;
}

.title.blue {
    color: rgb(31, 95, 223);
    transition: ease 0.5s;
}

.title.pink {
    color: rgb(223, 95, 183);
    transition: ease 0.5s;
}

.title.xtra {
    color: rgb(0, 0, 0);
    transition: ease 0.5s;
}