body {
    margin: 0;
}

.app {
    min-height: 100vh;
}

.app.base {
    background-color: rgb(247, 247, 247);
    transition: ease 0.5s;
}

.app.dark {
    background-color: rgb(7, 7, 7);
    transition: ease 0.5s;
}

.app.lava {
    background-color: rgb(15, 15, 15);
    transition: ease 0.5s;
}

.app.blue {
    background-color: rgb(189, 223, 255);
    transition: ease 0.5s;
}

.app.pink {
    background-color: rgb(255, 200, 255);
    transition: ease 0.5s;
}

.app.xtra {
    background-color: rgb(255, 255, 255);
    transition: ease 0.5s;
}

.button-menu {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}