body {
    margin: 0;
}

.App {
    min-height: 100vh;
}

.App.base {
    background-color: rgb(247, 247, 247);
    transition: ease 0.5s;
}

.App.dark {
    background-color: rgb(7, 7, 7);
    transition: ease 0.5s;
}

.App.lava {
    background-color: rgb(15, 15, 15s);
    transition: ease 0.5s;
}

.button-menu {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}