body {
    background-color: rgb(247, 247, 247);
    margin: 0;
    mask-image: -webkit-radial-gradient(white, black);
}

table {
    border: 2px solid rgb(191, 191, 191);
    border-radius: 16px;
    border-spacing: 0px;
    margin: 32px 0;
    overflow: hidden;
}

tr:last-child td {
    border-bottom: 0px;
}

.button-menu {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}